Object Oriented Programming (OOP)

Methods (function) in a class:

In [3]:
class laptop:
    def specifications(self):
        return "i5, 16 GB, !TB"
    def operating_system(self):
        return "Windows 11"

In [4]:
my_laptop = laptop()

In [5]:
my_laptop.specifications()

'i5, 16 GB, !TB'

In [6]:
your_laptop=laptop()
your_laptop.specifications()

'i5, 16 GB, !TB'

In [13]:
class ComputerLab:
    def apple(self):
        return "i5, 16 GB, 1 TB"
    def dell(self):
        return "i7, 32 GB, 500 GB"

In [14]:
c1=ComputerLab()
c1.apple()

'i5, 16 GB, 1 TB'

In [15]:
ComputerLab.apple(c1)

'i5, 16 GB, 1 TB'

In [26]:
class Calculator:
    def mysum(self,a,b):
        return(a+b)

    def product(self,a,b):
        return(a*b)
my_object=Calculator()

In [29]:
my_object.mysum(2,3)

5

In [28]:

my_object.product(2,3)

6

In [31]:
class Computer:
    pass 
c1=Computer()
c2=Computer()
print(id(c1))
print(id(c2))

print(c1 is c2)

2522178671568
2522180145408
False

The _init_ method

In [34]:
class PC:
    def __init__(self):
        print("This is called automatically!")

    def config(self):
        print("i5, 16 GB, 1TB")
mycomputer=PC()

This is called automatically!

In [37]:
class PC:
    def __init__(self, c, r):
        self.c = c
        self.r=r
    def config(self):
        print("config is:",self.r, self.c)

mycomputer=PC("i7","16GB")
mycomputer.config()

config is: 16GB i7

In [38]:
class Calculator:
    def __init__(self,a,b):
        self.a = a
        self.b=b
        print("This is constructor, and is called automatically!")

    def my_sum(self,a,b):
        print("This is sum funtion!")
        my_sum=self.a+self.b
        return my_sum

    def my_product(self):
        print("This is product funtion!")
        my_product=self.a*self.b
        return my_product

my_obj=Calculator(3,4)
my_obj.my_product()

This is constructor, and is called automatically!
This is product funtion!

12

In [39]:
class Computer:
    def __init__(self):
        self.name="David"
        self.age=28

    def update(self):
        self.age=self.age+1
        def equal(self,other):
            if self.age==other.age:
                return True
            else:
                return False

In [40]:
c1=Computer()
c2=Computer()

In [41]:
print(c1.age)

28

In [42]:
c1.update()

In [45]:
print(c1.age)
print(c2.age)

30
28

In [46]:
class Car: 
    def __init__(self):
        self.mielage=10
        self.company="Ford"

In [48]:
mycar=Car()
yourcar=Car()

In [49]:
print(mycar.company,mycar.mielage)

Ford 10

In [50]:
print(yourcar.company, yourcar.mielage)

Ford 10

In [51]:
mycar.mielage=7
mycar.company="Daihatsu"

In [52]:
print(mycar.company, mycar.mielage)

Daihatsu 7

In [53]:
print(yourcar.company, mycar.mielage)

Ford 7

In [2]:
class Car:
    fuel="diesel"
    def __init__(self):
        self.mielage=10
        self.company="ford"

In [5]:
c1=Car()
c2=Car()
c3=Car()

In [59]:
print(c1.fuel)
print(c2.fuel)
print(c3.fuel)

diesel
diesel
diesel

In [60]:
c1.mielage=7
print(c1.mielage)

7

In [61]:
c2.mielage

10

In [62]:
Car.fuel='electric'
print(c1.fuel)
print(c2.fuel)
print(c3.fuel)

electric
electric
electric

In [6]:
Car.fuel="petrol"

print(c1.fuel)
print(c2.fuel)
print(c3.fuel)

petrol
petrol
petrol

In [9]:
class TBC:
    address="Thapathali, KTM"
    contact=989800009807
    principal="Mr XYZ"

    def __init__(self, program_name, program_duration, degree_awarded):
        self.program_name = program_name
        self.program_duration=program_duration
        self.degree_awarded=degree_awarded
        print(f"Hello, welcome to {self.program_name} at Nami college")
    
    def compute_avg_marks(self, m_list):
        '''Computes the average marks. Usage: yesari use garne ho yo!'''
        s=0
        for i in m_list:
            s=s+i
            avg=s/len(m_list)
            return avg

bba=TBC("BBA","4 years","B.com")
bsc=TBC("BScIT","4 years", "B.SC")
acca=TBC("ACCA","2 years","Diploma")
TBC.address="Chakupat, KTM"
bsc.compute_avg_marks([22,25,27])

Hello, welcome to BBA at Nami college
Hello, welcome to BScIT at Nami college
Hello, welcome to ACCA at Nami college

7.333333333333333

In [12]:
class Student:
    _college="TBC"
    
    def __init__(self, marks1, marks2, marks3):
        self.marks1=marks1
        self.marks2=marks2
        self.marks3=marks3
        
    def average(self):
        return (self.marks1+self.marks2+self.marks3)/3
    def get_marks(self):
        return self.marks1, self.marks2, self.marks3
    
    def set_marks1(self, value):
        try:
            self.marks=float(value)
        except:
            print("Unknown value, could not set!")

In [11]:
studentA=Student(83,92,74)
studentB=Student(65,56,47)

In [13]:
print(dir(studentA))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_college', 'average', 'get_marks', 'marks1', 'marks2', 'marks3', 'set_marks1']

In [14]:
studentA.average()

83.0

In [15]:
studentB.average()

56.0

In [16]:
studentA.marks1

83

In [18]:
studentA.marks1="ninety"
studentA.marks1

'ninety'

In [19]:
studentA.average()

TypeError: can only concatenate str (not "int") to str

In [23]:
studentA.set_marks1=90
studentA.marks1
studentA.get_marks()
studentA.marks1

'ninety'

Accessors (or getters)

In [24]:
studentA.get_marks()

('ninety', 92, 74)

In [25]:
studentB.get_marks()

(65, 56, 47)

Mutators (or setters)

In [27]:
studentB.set_marks1(74)
studentB.marks1
studentB.set_marks1("seventyfour")

Unknown value, could not set!

In [28]:
class Student:
    def __init__(self, name, roll_no):
        self.name = name
        self.roll_no=roll_no
        self.notebook=self.Laptop()
    def show(self):
        print(self.name,self.roll_no)
    
    class Laptop:
        def __init__(self):
            self.brand="Dell"
            self.cpu="core i7"
            self.ram="8 GB"
        def show(self):
            print(self.brand,self.cpu,self.ram)

s1=Student('Andy',1)
s2=Student("Ana",2)

In [29]:
s1.notebook.brand

'Dell'

In [30]:
test=Student("ABC",3).Laptop()
test.show()

Dell core i7 8 GB

In [31]:
print(s1.name)
print(s1.roll_no)
print(s1.notebook.show())

Andy
1
Dell core i7 8 GB
None

Accessing value of a class within a class

In [32]:
s1.notebook.cpu

'core i7'

In [33]:
mypc=s1.notebook
yourpc=s2.notebook

In [34]:
mypc.ram="16 GB"

In [35]:
mypc.ram

'16 GB'

In [36]:
s1.notebook.ram="4 GB"

In [37]:
yourpc.ram

'8 GB'

Method of the outer class vs method of the inner class

In [38]:
s1.show()

Andy 1

In [39]:
s1.notebook.show()

Dell core i7 4 GB

Inheritance in Python

In [41]:
class A:
    def feature_one(self):
        print("long Nose")
    
    def feature_two(self):
        print("Brown Hair")


class B:
    def feature_three(self):
        print("Pale Skin")
    def feature_four(self):
        print("Small Ears")

Multiple Inheritance

In [42]:
class C(A,B):
    attrA=1
    def feature_five(self):
        print("Round Eyes")

In [43]:
parentB=B()

In [44]:
parentB.feature_four()

child=C()
child.feature_one()

Small Ears
long Nose

Multi-level Inheritance

In [45]:
class D(C):
    def feature_six(self):
        print("Long Hands")

In [47]:
grandchild=D()
grandchild.feature_five()

Round Eyes

Constructor in Inheritance

In [48]:
class A:
    def __init__(self):
        print("Initialization of class A")

    def feature_one(self):
        print("long Nose")

    def feature_two(self):
        print("Brown Hair")
    
    def feature_three(self):
        print("Pale Skin")
    
    def feature_four(self):
        print("Small Ears")

In [50]:
#dir(A)

In [51]:
a1=A()
b1=B()

Initialization of class A

What if B has its own __init__?

In [52]:
class A:
    def __init__(self):
        print("Initialization of class A")
    def feature_one(self):
        print("Long Nose")
    def feature_two(self):
        print("Brown Hair")
    
class B(A):
    def __init__(self):
        print("Initialization of class B")
    
    def feature_three(self):
        print("Pale Skin")
    
    def feature_four(self):
        print("Small Ears")

In [53]:
b1=B()

Initialization of class B

Can we call the __init__ of both the class, i.e A and B?

In [54]:
class A:
    def __init__(self):
        print("Initialization of class A ")
    
    def feature_one(self):
        print("Long Nose ")

    def feature_two(self):
        print("Brown Hair")

class B(A):
    def __init__(self):
        super().__init__()
        print("Initialization of class B")
    
    def feature_three(self):
        print("Pale Skin")

    def feature_four(self):
        print("Small Ears")

In [55]:
b1=B()

Initialization of class A
Initialization of class B

In [58]:
class A:
    def __init__(self):
        print("Initialization of class A ")
    
    def feature_one(self):
        print("Long Nose ")

    def feature_two(self):
        print("Brown Hair")

class B:
    def __init__(self):
        print("Initialization of class B")
    
    def feature_three(self):
        print("Pale Skin")

    def feature_four(self):
        print("Small Ears")

In [59]:
class C(A,B):
    def __init__(self):
        super().__init__()
        A.__init__(self)
        B.__init__(self)
        print("Initialization of class C")
    def feature_all(self):
        print("Good Human Being")
    def call_feature(self):
        super().feature_one()

In [60]:
c1=C()
c1.call_feature()

Initialization of class A
Initialization of class A
Initialization of class B
Initialization of class C
Long Nose

Method Resolution Order (MRO)

Duck Typing

In [63]:
class Pycharm:
    def execute(self):
        print("Compiling ...")  
        print("Running ...")

class VSCode:
    def execute(self):
        print("Spell check")
        print("Auto-indent")
        print("Compiling ...")
        print("Running ...")

class Laptop:
    def code(self,IDE):
        IDE.execute()

myIDE=Pycharm()
mylaptop=Laptop()
mylaptop.code(myIDE)

Compiling ...
Running ...

Operator Overloading

In [64]:
x=5
y=4
print(x+y)
print(type(x))
print(type(y))

9
<class 'int'>
<class 'int'>

In [69]:
x=5
y=4
int.__add__(x,y)

9

In [70]:
a="Abc"
b="def"

str.__add__(a,b)

'Abcdef'

In [71]:
a+b

'Abcdef'

In [74]:
a=5
b="hello"
print(a+b) #Gives an error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [75]:
a=5
b=4
print(a+b)
print(int.__add__(a,b))

9
9

In [76]:
a="5"
b="4"
print(a+b)
print(str.__add__(a,b))

54
54

In [78]:
class Student:
    def __init__(self, marks1,marks2):
        self.marks1 = marks1
        self.marks2 = marks2

s1=Student(72,77)
s2=Student(81,67)

In [79]:
s3=s1+s2

TypeError: unsupported operand type(s) for +: 'Student' and 'Student'

In [80]:
Student.__add__(s1,s2)

AttributeError: type object 'Student' has no attribute '__add__'

In [81]:
class Student:
    def __init__(self, marks1, marks2):
        self.marks1=marks1
        self.marks2=marks2

    def __add__(self, other):
        marks1=self.marks1+other.marks1
        marks2=self.marks2+other.marks2
        return Student(marks1,marks2)


s1=Student(72,77)
s2=Student(81,67)

In [82]:
s3=s1+s2
print(s3.marks1)
print(s3.marks2)

153
144

In [83]:
if s1>s2:
    print("Student_1 is selected!")
else:
    print("Student_2 is selected! ")

TypeError: '>' not supported between instances of 'Student' and 'Student'

In [85]:
class Student:
    def __init__(self,marks1, marks2):
        self.marks1 = marks1
        self.marks2=marks2
    
    def __add__(self, other):
        marks1=self.marks1+other.marks1
        marks2=self.marks2+other.marks2
        return Student(marks1, marks2)
    
    def __gt__(self, other):
        r1=self.marks1+self.marks2
        r2=other.marks1+other.marks2

        if r1>r2:
            return True
        else:
            return False



s1=Student(72,77)
s2=Student(81,67)

if s1> s2:
    print("Student_1 is selected!")
    
else:
    print("Student_2 is selected!")

Student_1 is selected!

Method Overloading and Method Overriding

In [87]:
class Student:
    def __init__(self, m1,m2):
        self.m1=m1
        self.m2=m2

    def sum(self, a, b):
        return a+b
    

s1=Student(50,69)
print(s1.sum(5,7))

12

In [88]:
print(s1.sum(5,7,4))

TypeError: Student.sum() takes 3 positional arguments but 4 were given

In [90]:
class Student:
    def sum(self, a=None, b=None, c=None):
        if a != None and b != None and c != None:
            return a+b+c
        elif a!=None and b!=None:
            return a
        else:
            return a
    
    def __str__(self):
        print("Yo module ko naam chai falano ho!")

s1=Student()
print(s1.sum(5,7,4))
print(s1.sum(5,7))
print(s1.sum(5))
s1.__str__()

16
5
5
Yo module ko naam chai falano ho!

Method Overriding

In [91]:
class A:
    def show(self):
        print(" Showing A!")

class B:
    pass

a=A()
a.show()

 Showing A!

In [96]:
b=B()
b.show()

Showing B!

In [93]:
class B(A):
    pass

b=B()
b.show()

 Showing A!

In [95]:
class B(A):
    def show(self):
        print("Showing B!")

b=B()
b.show()

Showing B!