In [1]:
print("This line will be printed.")

This line will be printed.

In [2]:
print(1)

1

Indentation

In [3]:
x=1
if x==2:
    #indented four spaces
    print("x is 1")

keyswords

In [4]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

input()

In [5]:
my_val =int(input("Enter a number:"))

In [8]:
type(my_val)

int

In [9]:
print(my_val)

5

Variables and Types

In [10]:
student_marks=25
print(student_marks)
print("student_marks")

25
student_marks

In [11]:
myint=7
print(myint)
print(type(myint))

7
<class 'int'>

In [12]:
x= int(5.0)
print(x)

5

In [13]:
myfloat=7.5
print(type(myfloat))
print(myfloat)

<class 'float'>
7.5

In [14]:
myvar="7"
print(myvar)
type(myvar)

7

str

In [15]:
y=int(myvar)
type(y)

int

In [16]:
a=4
b=2
c=a/b
int(c)

2

In [ ]:
my_value=5
print(my_value)

constants

In [1]:
NUM=5
NUM

5

String

In [3]:
mystring="hello"
print(mystring)

hello

In [4]:
mystring="hello"
mystring

'hello'

In [5]:
mystring="don't worry about apostrophes!"
print(mystring)

don't worry about apostrophes!

In [6]:
one=1
two=2 
three=3
print(three)

3

In [9]:
a="hello "
b="world"
c=a+b
print(c)

hello world

In [10]:
a,b,c=3,4,7
print(a,b)
print(c)

3 4
7

In [1]:
#This will not work
one=1
two=2
 hello="hello"
 
 print(one+two+hello)

IndentationError: unexpected indent (1361701251.py, line 4)

In [7]:
#change this code
mystring="hello"
myfloat=10.0
myint=20

#testing code
if mystring=="hello":
    print("string: %s"%mystring)
if isinstance(myfloat, float) and myfloat==10.0:
    print("float: %.1f "%myfloat)

if isinstance(myint,int) and myint==20:
    print("Integer: %d"%myint)

string: hello
float: 10.0
Integer: 20

In [8]:
mylist=[1,3,4,6,7,9,"hi","hello"]
print(mylist)

[1, 3, 4, 6, 7, 9, 'hi', 'hello']

In [9]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[5])

1
3
4
6
7
9

In [10]:
value=mylist[1]
print(value)

3

In [11]:
new_list=[21,33,45,75,91,99]
print(new_list)

[21, 33, 45, 75, 91, 99]

In [15]:
new_list.append(101)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101, 101]

In [13]:
new_list.insert(1,107)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101]

In [16]:
new_list.extend([200,201,202])
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101, 101, 200, 201, 202]

In [17]:
removed_value=new_list.pop()
print(new_list)
print(removed_value)

[21, 107, 33, 45, 75, 91, 99, 101, 101, 200, 201]
202

In [18]:
new_list.pop(1)
print(new_list)

[21, 33, 45, 75, 91, 99, 101, 101, 200, 201]

In [19]:
new_list.remove(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 101, 200, 201]

In [20]:
del mylist[1]
print(mylist)

[1, 4, 6, 7, 9, 'hi', 'hello']

In [2]:
new_list=[21,33,45,75,91,99]

In [22]:
new_list[2]

45

In [23]:
new_list[-1]

99

In [24]:
new_list[:3]

[21, 33, 45]

In [3]:
new_list[1:]

[33, 45, 75, 91, 99]

In [4]:
new_list[2:4]

[45, 75]

In [5]:
new_list[1:5:2]

[33, 75]

In [6]:
new_list[-3:]

[75, 91, 99]

In [7]:
new_list[::-1]

[99, 91, 75, 45, 33, 21]

In [25]:
new_list[1:5:2]

[33, 75]

In [35]:
numbers=[]
strings=[]
names=["John","Eric","jessica"]

numbers.append(1)
numbers.append(2)
numbers.append(3)

print(numbers)
strings.append("hello")
strings.append("world")
print(strings)
second_name=strings[1]

print("This second name on the names list is %s" %[second_name])

[1, 2, 3]
['hello', 'world']
This second name on the names list is ['world']

In [36]:
name=input("Enter the Name:")
roll=int(input("Enter the Roll No:"))
in_list=[]
in_list.append(name)
in_list.append(roll)
print(in_list)

['Code', 3]

In [37]:
number=(1+2)*3/4.0-2
print(number)

0.25

In [38]:
remainder=11%3
print(remainder)

2

In [42]:
x=11//4
x

2

In [40]:
squared=7**2
cubed=2**3
print(squared)
print(cubed)

49
8

In [44]:
x="hello "+"world"
print(x)

hello world

In [10]:
lotsofhellos="hello "*10
print(lotsofhellos)

hello hello hello hello hello hello hello hello hello hello

Using Operators with lists

In [12]:
even_number=[2,4,6,8]
odd_number=[1,3,5,7]
all_numbers=odd_number+even_number
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [13]:
print([1,2,3]*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
x=7
y=5
x_list=[x]*10

y_list=[y]*10

big_list=x_list+y_list

print(x_list)
print(y_list)
print(big_list)

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7]
[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

String formatting

In [14]:
name="john"
print("Hello, %s!"%name)

Hello, john!

In [15]:
score=7.8886564567
name=input("Enter your name:")
print("Hello,%s! Welcome to TBC! you scored %.3f "%(name, score))

Hello,John! Welcome to TBC! you scored 7.889

In [16]:
name="John"
age=23
print("%s is %d years old."%(name,age))

John is 23 years old.

In [17]:
mylist=[1,2,3]
print("A list: %s"%mylist)

A list: [1, 2, 3]

F-string literals and the format method

In [23]:
name="Daniel"
college="The British college"
classtime="11:00"
print("Hello %s. Welcome to %s. The class starts at %s hrs."%(name, college,classtime))
print("Hello {}. Welcome to {}. The class starts at {} hrs".format(name,college, classtime))
print(f"Hello {name}. Welcome to {college}. The class starts at {classtime} hrs")

Hello Daniel. Welcome to The British college. The class starts at 11:00 hrs.
Hello Daniel. Welcome to The British college. The class starts at 11:00 hrs
Hello Daniel. Welcome to The British college. The class starts at 11:00 hrs

In [26]:
data=("john","Doe",53.44)
format_string="Hello %s %s. Your current balance is $%.2f."%data
print(format_string)

Hello john Doe. Your current balance is $53.44.

In [27]:
data=("john","Doe",53.44)
format_string=f"Hello{data[0]} {data[1]}. Your current balance is ${data[2]}."
print(format_string)

Hellojohn Doe. Your current balance is $53.44.

In [28]:
data=("john","Doe",53.44)
format_string="Hello {} {}. Your current balance is ${}.".format(*data)
print(format_string)

Hello john Doe. Your current balance is $53.44.

Basic String Operations

In [31]:
astring="Hello world!"
print(astring.index("o"))

4

In [32]:
astring="Hello world!"
print(astring.count("l"))

3

In [33]:
mystr="This NAME!"
mystr.swapcase()

'tHIS name!'

In [34]:
mystr.lower()

'this name!'

In [ ]:
astring="Hello world!"
print(astring)
print(astring[3:7])

Hello world!
lo w

In [ ]:
astring="Hello world!"
print(astring[::-1])

!dlrow olleH

In [ ]:
astring="Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdf"))

True
False

In [38]:
astring="Hello world!"
afewwords=astring.split(" ")
print(afewwords)

['Hello', 'world!']

Coditions

In [39]:
x=2 
print(x==2)
print(x==3)
print(x<3)

True
False
True

In [40]:
if (x==2):
    print("Yay!")

Yay!

In [41]:
(1>=3) and (4>2)

False

Boolean operators/ logical operators

In [ ]:
name="John"
age=23
if name=="John" and age==23:
    print("Your name is John, and you are also 23 years old.")
if name=="John" or ame=="Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

The "in" operator

In [43]:
x="abc"
x in "abcdef"

True

In [44]:
name="John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

In [ ]:
x=4*0.5
if x==2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

In [48]:
odd_list=[1,2,3,4,5]
even_list=[]
if odd_list:
    print(odd_list)
if even_list:
    print(even_list)

[1, 2, 3, 4, 5]

Ternary operator

In [50]:

x=2
number_type ='odd' if x%2!=0 else 'even'
print(number_type)

even

In [51]:
number_type="odd" if x%2==0 else "even"
print(number_type)

odd

In [6]:
x=7
y=5

x_list=[x]*10
y_list=[y]*10

print(f"x_list contains{len(x_list)} objects")
print(f"y_list contains {len(y_list)} objects")

if x_list.count(x)==10 and y_list.count(y)==10:
    print("almost there...")

x_list contains10 objects
y_list contains 10 objects
almost there...

The "is" operator

In [10]:
x=[1,2,3]
y=[1,2,3]
z=x

print(x==y)
print(x is y)
print(z is x)

True
False
True

In [12]:
num=[1,2,3,5,7]
num_copy=num.copy()

In [13]:
num_copy

[1, 2, 3, 5, 7]

In [16]:
num is num_copy

False

In [20]:
num_copy.sort(reverse=True)
num_copy

[7, 5, 3, 2, 1]

In [21]:
num

[1, 2, 3, 5, 7]

The 'not' operator

In [9]:
print(not False)
print((not False)==(False))

True
False

In [45]:
num=20
second_number=5
first_array=[1]
first_array.append(num)
second_array=[]
second_array.append(num)
second_array.append(second_number)
second_array.append(num)

if num>15:
    print("1")
if first_array:
    print("2")
if len(second_array)==2:
    print("3") 
if len(first_array)+len(second_array)==5:
    print("4")
if first_array and first_array[0]==1:
    print("5")
if not second_number:
    print("6")

1
2
4
5

loops

The "for" loop

In [46]:
primes=[2,3,5,7,9]

for x in primes:
    print(x)

2
3
5
7
9

In [47]:
for x in range(len(primes)):
    print(primes[x])

2
3
5
7
9

In [48]:
for x in range(5):
    print(x)

0
1
2
3
4

In [49]:
for x in range(3,8,2):
    print(x)

3
5
7

"While" loop

In [50]:
marks=[30,25,28,35,32]
count=0
while count<len(marks):
    print(count)
    count+=1

0
1
2
3
4

In [51]:
marks=[30,25,28,35,32]
count=0
while True:
    if count>=len(marks):
        break
    print(marks[count])
    count+=1

30
25
28
35
32

"Break" and "continue" statements

In [54]:
count=0
while True:
    if count>=5:
        break
    print(count)
    count+=1

0
1
2
3
4

In [55]:
marks=[50,55,70,"f",33]

for i in marks:
    if i =="f":
        break
    print(i)

50
55
70

In [56]:
for x in range(10):
    if x%2==0:
        continue
    print(x)

1
3
5
7
9

In [57]:
for x in range(1,11):
    if x % 2==0:
        print("Even")
        continue
    print(x)

1
Even
3
Even
5
Even
7
Even
9
Even

In [58]:
count=0
while(count<5):
    print(count)
    count+=1
else:
    print("count value reached %d"%(count))

0
1
2
3
4
count value reached 5

In [60]:
for i in range(1,10):
    print("input: ",i)
    if (i%5==0):
        break
    print(i)
else:
    print("This is not printed because for loop is terminated because of break but not due to fail in condition ")

input:  1
1
input:  2
2
input:  3
3
input:  4
4
input:  5